#myCanvas {
    transform: scaleY(-1);
}
h1 {
	color: #1D82F5;
	transition: top 1s;
}

entrada {
    text-align: center;
}

body {
    background: #292525;
    color: #cbe7f2;
}
.dato{
    width: 50px;
}
#main {
    margin-top: 30px;
    text-align: center;
}
#myCanvas {
    background-color: #fff;
}