h1 {
	color: #98e994;
	transition: top 1s;
}

h1:hover{
	top: 50px;
}
body {
    background: #333;
    color: #fff;
}
.dato{
    width: 50px;
}
#main {
    margin-top: 30px;
    text-align: center;
}
#myCanvas {
    background-color: #fff;
    //height: 600px;
    //width: 800px;
}